@model CartCar.App.Models.Entities.InfractionCar

<div dir="rtl" class="modal fade " id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">مشاهده اطلاعات جریمه</h5>
                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Infraction)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price3)
                                </th>

                            </tr>
                        </thead>
                        <tbody id="tableInfractionCar">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>